@using System.Data.SqlClient


@{
    SqlConnection con = new SqlConnection(@"Data Source=ANASNA;Initial Catalog=db_shop;User ID=sa;Password=Anas_2001");
}



<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

</body>
</html>
