body {
    margin-top: 20px;
}

select.form-control:not([size]):not([multiple]) {
    height: 44px;
}

select.form-control {
    padding-right: 38px;
    background-position: center right 17px;
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNv…9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4K);
    background-repeat: no-repeat;
    background-size: 9px 9px;
}

.form-control:not(textarea) {
    height: 44px;
}

.form-control {
    padding: 0 14px 2px;
    border: 1px solid #dbe2e8;
    border-radius: 22px;
    background-color: #fff;
    color: #606975;
    font-family: "Maven Pro",Helvetica,Arial,sans-serif;
    font-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.shopping-cart,
.wishlist-table,
.order-table {
    margin-bottom: 20px
}

.shopping-cart .table,
.wishlist-table .table,
.order-table .table {
    margin-bottom: 0
}

.shopping-cart .btn,
.wishlist-table .btn,
.order-table .btn {
    margin: 0
}

.shopping-cart > table > thead > tr > th,
.shopping-cart > table > thead > tr > td,
.shopping-cart > table > tbody > tr > th,
.shopping-cart > table > tbody > tr > td,
.wishlist-table > table > thead > tr > th,
.wishlist-table > table > thead > tr > td,
.wishlist-table > table > tbody > tr > th,
.wishlist-table > table > tbody > tr > td,
.order-table > table > thead > tr > th,
.order-table > table > thead > tr > td,
.order-table > table > tbody > tr > th,
.order-table > table > tbody > tr > td {
    vertical-align: middle !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.shopping-cart > table thead th,
.wishlist-table > table thead th,
.order-table > table thead th {
    padding-top: 17px;
    padding-bottom: 17px;
    border-width: 1px
}

    .shopping-cart .remove-from-cart,
    .wishlist-table .remove-from-cart,
    .order-table .remove-from-cart {
        display: inline-block;
        color: #ff5252;
        font-size: 22px;
        line-height: 1;
        text-decoration: none;
        transition: transform 0.6s ease-in-out;
    }

    .shopping-cart .remove-from-cart:hover {
        transform: scale(2.1);
        -webkit-transform: scale(2.1);
        -moz-transform: scale(2.1);
    }

.shopping-cart .count-input,
.wishlist-table .count-input,
.order-table .count-input {
    display: inline-block;
    width: 100%;
    width: 86px
}

.shopping-cart .product-item,
.wishlist-table .product-item,
.order-table .product-item {
    display: table;
    width: 100%;
    min-width: 150px;
    margin-top: 5px;
    margin-bottom: 3px
}

    .shopping-cart .product-item .product-thumb,
    .shopping-cart .product-item .product-info,
    .wishlist-table .product-item .product-thumb,
    .wishlist-table .product-item .product-info,
    .order-table .product-item .product-thumb,
    .order-table .product-item .product-info {
        display: table-cell;
        vertical-align: top
    }

    .shopping-cart .product-item .product-thumb,
    .wishlist-table .product-item .product-thumb,
    .order-table .product-item .product-thumb {
        width: 130px;
        padding-right: 20px
    }

        .shopping-cart .product-item .product-thumb > img,
        .wishlist-table .product-item .product-thumb > img,
        .order-table .product-item .product-thumb > img {
            display: block;
            width: 100%
        }

@media screen and (max-width: 860px) {
    .shopping-cart .product-item .product-thumb, .wishlist-table .product-item .product-thumb, .order-table .product-item .product-thumb

{
    display: none
}

}

.shopping-cart .product-item .product-info span,
.wishlist-table .product-item .product-info span,
.order-table .product-item .product-info span {
    display: block;
    font-size: 13px
}

    .shopping-cart .product-item .product-info span > em,
    .wishlist-table .product-item .product-info span > em,
    .order-table .product-item .product-info span > em {
        font-weight: 500;
        font-style: normal
    }

.shopping-cart .product-item .product-title,
.wishlist-table .product-item .product-title,
.order-table .product-item .product-title {
    margin-bottom: 6px;
    padding-top: 5px;
    font-size: 16px;
    font-weight: 500
}

    .shopping-cart .product-item .product-title > a,
    .wishlist-table .product-item .product-title > a,
    .order-table .product-item .product-title > a {
        transition: color .3s;
        color: #374250;
        line-height: 1.5;
        text-decoration: none
    }

        .shopping-cart .product-item .product-title > a:hover,
        .wishlist-table .product-item .product-title > a:hover,
        .order-table .product-item .product-title > a:hover {
            color: #0da9ef
        }

    .shopping-cart .product-item .product-title small,
    .wishlist-table .product-item .product-title small,
    .order-table .product-item .product-title small {
        display: inline;
        margin-left: 6px;
        font-weight: 500
    }

.wishlist-table .product-item .product-thumb {
    display: table-cell !important
}

@media screen and (max-width: 576px) {
    .wishlist-table .product-item .product-thumb

{
    display: none !important
}

}

.shopping-cart-footer {
    display: table;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #e1e7ec;
    background-color: antiquewhite;
}

    .shopping-cart-footer > .column {
        display: table-cell;
        padding: 5px 0;
        vertical-align: middle
    }

        .shopping-cart-footer > .column:last-child {
            font-size: larger;
            text-align: center;
            font-weight: bold;
        }

            .shopping-cart-footer > .column:last-child .btn {
                margin-right: -13px;
                margin-left: 15px
            }

@media (max-width: 768px) {
    .shopping-cart-footer>.column

{
    display: block;
    width: 100%
}

.shopping-cart-footer > .column:last-child {
    text-align: center
}

.shopping-cart-footer > .column .btn {
    width: 100%;
    margin: 12px 0 !important
}

}

.coupon-form .form-control {
    display: inline-block;
    width: 70%;
    max-width: 235px;
    margin-right: 12px;
    border-radius:20px;
}

.form-control-sm:not(textarea) {
    height: 36px;
}

/*.option-btn {
    font-size: 20px;
    display: inline-block;
    position: absolute;
    border: outset 4px yellow;
    border-radius: 15px;
    background-color: gold;
    box-shadow: 12px 10px 5px #606975;
    transition: transform 0.5s ease-in-out;
}

    .option-btn:hover {
        background-color: yellow;
        border: solid 4px yellow;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);

    }
*/
*::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

*::-webkit-scrollbar-track {
    background-color: antiquewhite;
    border-radius: 50px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(0, 204, 255);
    border-radius: 50px;
}

.button-73 {
    position:absolute;
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,sans-serif;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .7s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-73:hover {
    background-color: #FFC229;
    box-shadow: #FF6314 0 -6px 8px inset;
    transform: scale(1.125);
}

.button-73:active {
    transform: scale(1.025);
}

@media (min-width: 768px) {
    .button-73 {
        font-size: 1rem;
        padding: .5rem 1.2rem;
    }
}